matplotlib
numpy
pandas
torch
torchvision 
torchaudio
snntorch
nir
nirtorch
torchinfo
fastapi
uvicorn
python-multipart
# Testing
pytest
pytest-asyncio
httpx
plotly
dash 
tonic
ipywidgets
ipykernel
umap-learn
scikit-learn
tqdm
autograd
numpy
pymanopt
scipy
cvxopt
scikit-learn
ipykernel
